#  ASSIGNMENT `

In [16]:
# Python program to convert .tsv file to .csv file
# importing re library
import re

# reading given tsv file
with open("correct_twitter_201904.tsv", 'r', encoding='utf-8', errors='replace') as myfile:

    with open("twitter.csv", 'w', encoding='utf-8') as csv_file:

        for line in myfile:

    # Replace every tab with comma
            fileContent = re.sub("\t", ",", line)

# Writing into csv file
            csv_file.write(fileContent)

# output
print("Successfully made csv file")

Successfully made csv file

In [77]:
import pandas as pd
import datetime

In [111]:
df = pd.read_csv('twitter.csv',low_memory = False,usecols = ['created_at','text','author_id','like_count','place_id'])

In [112]:
df.head()

,text,author_id,created_at,like_count,place_id
0,RT @Iesbwian: britney spears was right.....my ...,1620294025,2019-05-23 12:17:17-04:00,0,None
1,TJ trusts me to make a playlsit for our 5 hour...,34706181,2019-05-23 12:17:21-04:00,1,None
2,"@badgurlhenri you better work bitch - spears,...",1784620956,2019-05-23 11:56:32-04:00,1,None
3,RT @Iesbwian: britney spears was right.....my ...,3410399002,2019-05-23 12:17:05-04:00,0,None
4,RT @Iesbwian: britney spears was right.....my ...,1.10E+18,2019-05-23 12:16:42-04:00,0,None

In [113]:
df.isnull().sum()

text          2
author_id     4
created_at    4
like_count    5
place_id      6
dtype: int64

In [114]:
df = df.dropna()

In [115]:
df.isnull().sum()

text          0
author_id     0
created_at    0
like_count    0
place_id      0
dtype: int64

In [116]:
df.dtypes

text          object
author_id     object
created_at    object
like_count    object
place_id      object
dtype: object

In [117]:
df['text'] = df['text'].astype(str)
df['created_at'] = pd.to_datetime(df['created_at'],utc=True)
df['like_count'] = df['like_count'].astype(int)

#  How many tweets were posted containing the term on each day?

In [118]:
def count_tweets_by_day(df):
    try:
        term = input("Enter the term you want to search for : ")
        flitered_df = df[df['text'].str.contains(term,case=False)]
        daily_counts = flitered_df.groupby(df['created_at'].dt.date)['text'].count()
        return daily_counts
    except KeyboardInterrupt:
        print("Operation cancelled by user")
        return None

daily_tweet_counts = count_tweets_by_day(df)
print(daily_tweet_counts)

Enter the term you want to search for : music
created_at
2019-03-12      3
2019-04-06      1
2019-04-14      1
2019-04-16      1
2019-04-21      1
2019-04-24      1
2019-04-26      1
2019-04-27      3
2019-04-28     22
2019-04-29    118
2019-04-30    135
2019-05-01     71
2019-05-02     72
2019-05-03    104
2019-05-04     75
2019-05-05     65
2019-05-06     71
2019-05-07     64
2019-05-08     60
2019-05-09     70
2019-05-10    307
2019-05-11     78
2019-05-12     69
2019-05-13     50
2019-05-14     67
2019-05-15     99
2019-05-16     91
2019-05-17    162
2019-05-18     61
2019-05-19     46
2019-05-20     64
2019-05-21    119
2019-05-22     80
2019-05-23     73
2019-05-24     49
2019-05-25     92
2019-05-26    112
2019-05-27     76
2019-05-28     96
2019-05-29    187
2019-05-30     71
2019-05-31     14
Name: text, dtype: int64

# How many unique users posted a tweet containing the term?

In [120]:

term = input("enter the term you want to search for :")
filter_df = df[df['text'].str.contains(term,case =False)]
unique_user_count = filter_df['author_id'].nunique()
print(unique_user_count)

enter the term you want to search for :music
1604

# How many likes did tweets containing the term get, on average?

In [122]:
term = input("Enter the term you want to search for:")
new_df = df[df['text'].str.contains(term,case=False)]
average_like = new_df['like_count'].mean()
print(average_like)

Enter the term you want to search for:music
161.35176548967354

# Where (in terms of place IDs) did the tweets come from?

In [133]:
term = input("Enter the term you want to search for :")
df_tweet = df[df['text'].str.contains(term,case =False)]

place_id = df_tweet.groupby(['place_id']).size()

print(place_id)

Enter the term you want to search for :music
place_id
001aff55522d96c9       1
00b673715a35dfa7       1
0113afc024d5e0bc       1
01153d1b33e1641b       1
0149775319466b18       1
01ddb0100b1efd97       1
01fbe706f872cb32       1
0570f015c264cbd9       1
07e9c7d1954fff64       1
09f6a7707f18e0b1       1
140800566259f12f       1
151b9e91272233d1       1
1a7a70d4a28e96a1       1
2b8922cbe7f16337       1
2bc7c264a080898b       1
300bcc6e23a88361       1
3b77caf94bfc81fe       1
3f7a925ec706ea48       1
43d2418301bf1a49       1
4c8e28554110ebcf       2
53504716d445dcad       1
5c62ffb0f0f3479d       1
5de8cffc145c486b       1
714789cf3b7a50d0       1
743df94d8dcb69a6       1
7cb7440bcf83d464       1
7de31e05e99a00f8       1
814cfc71b843ff40       1
8943f93b51e3f357       1
8bc4eeacf63235f9       1
8e9665cec9370f0f       1
91890dbb74364d63       1
9d63050d3d33d32f       1
None                2958
ab2f2fac83aa388d       1
ac88a4f17a51c7fc       3
b49b3053b5c25bf5       1
d56c5babcffde8ef       1
de599025180e2ee7       2
ecbe2aea853af44e       1
f97108ab3c4a42ed       1
dtype: int64

# What times of day were the tweets posted at?

In [124]:
df['hour'] = df['created_at'].dt.hour

hourly_tweet_counts = df.groupby('hour')['author_id'].count()
print(hourly_tweet_counts)

hour
0     4243
1     3961
2     3826
3     3653
4     3102
5     2708
6     2246
7     2162
8     2049
9     1980
10    2030
11    2251
12    2777
13    3490
14    4102
15    4297
16    4616
17    5000
18    5216
19    4930
20    5597
21    5234
22    4468
23    4209
Name: author_id, dtype: int64

# Which user posted the most tweets containing the term?

In [127]:
term = input("enter the term which you want to search for: ")
term_df = df[df['text'].str.contains(term,case=False)]

user = term_df['author_id'].value_counts()
most_tweets_user = user.idxmax()
most_tweets_count = user.max()

print(f"The user who posted the most tweets containing '{term}' is {most_tweets_user} with {most_tweets_count} tweets.")

enter the term which you want to search for: music
The user who posted the most tweets containing 'music' is 8.87E+17 with 114 tweets.